.banner-container {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container img {
    max-width: 100%;
}

@media screen and (max-width: 1040px) {

    .banner-container,
    .banner-container img {
        width: 100%;
    }
}